<ion-view title="{{MEDICALRECORDSCONSTANTS.MEDICALHISTORYTITLE}}">
    <ion-nav-buttons side="left"> <span ng-click="myGoBack()">
        <button class="button button-clear icon ion-ios-arrow-back left-menu"></button>
        </span> </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button title="Notifications" class="button button-clear ion-android-notifications notification" ui-sref="app.patientReminder"><span class="badge badge-assertive">{{Notification}}</span></button>
        <button class="button button-clear ion-android-more-vertical right-menu" ng-click="popover.show($event)"> </button>
    </ion-nav-buttons>
    <form name="myForm" class="form-validate" novalidate>
    <ion-content has-header="true" class="bg-gray bottom-50">
        <ion-list>
            <ion-item class="no-padding">
                <div class="MD-list-edit">
                    <div class="row">
                        <div class="col list-bg"><span>{{MEDICALRECORDSCONSTANTS.MEDICALHISTORYLABEL}}</span></div>
                    </div>
                    <div class="row padding-xs striped" ng-repeat="dn in diseaseName">
                        <label class="checkbox small-checkbox">
                            <input type="checkbox" name="selectedDisease[]" value="{{dn}}" ng-checked="selectedDiseases.indexOf(dn)> -1" ng-click="toggleSelection(dn)">
                        </label> &nbsp;&nbsp;
                        <span>{{dn}}</span></div>
                    <ion-item class="padding">
                        <p class="no-padding">Contraceptive Complication :</p>
                        <label class="item item-input item-md-label no-padding border-none">
                        <input class="input md-input no-padding no-margin" name="othercompalints" id="othercomplications" type="text" ng-model="$parent.othercomplications" style="height: 30px;" placeholder="Contraceptive Complication">
                        <div class="highlight highlight-calm"></div>
                    </label>
                    </ion-item>
                    <ion-item class="padding">
                        <p class="no-padding">Other :</p>
                        <label class="item item-input item-md-label no-padding border-none">
                        <input class="input md-input no-padding no-margin" name="other" type="text" id="otherDisease" placeholder="Other disease" style="height: 30px;" ng-model="$parent.otherDisease">
                        <div class="highlight highlight-calm"></div>
                    </label>
                    </ion-item>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="tabs ng-scope tabs-icon-top tabs-positive">
        <button title="Save" style="background-color: transparent; border: none;" class="tab-item bottom-icon" ng-click="addSelfHistory()"> <i class="icon ion-checkmark-circled"></i><span>{{MEDICALRECORDSCONSTANTS.SAVEBUTTON}}</span></button>
        <a title="Cancel" class="tab-item bottom-icon" ng-click="myGoBack()"><i class="icon ion-android-cancel"></i><span>{{MEDICALRECORDSCONSTANTS.CANCELBUTTON}}</span></a> </div>
    </form>
</ion-view>