<ion-view title="{{PRESCRIPTIONCONSTANTS.PRESCRIPTIONDETAILTITLE}}">
    <ion-nav-buttons side="left">
        <button ng-click="myGoBack()" class="button button-clear icon ion-ios-arrow-back left-menu"></button>
        <div class="app-logo"> <img class="title-image" src="img/ajax-loader.gif" ng-src="{{orgLogoURL?orgLogoURL:defaultLogoURL}}" err-SRC="{{errorLogoURL}}" height="25" /> </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button title="Notifications" class="button button-clear ion-android-notifications notification" ui-sref="app.patientReminder"><span class="badge badge-assertive">{{Notification}}</span></button>
        <button class="button button-clear ion-android-more-vertical right-menu" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="no-data-center" ng-show="Prescriptions.length<=0">
            <div class="row alert-padding">
                <div class="col no-data"> <i class="icon ion-information-circled"> </i>
                    <h5 class="item-text-wrap">{{PRESCRIPTIONCONSTANTS.NOPRESCRIPTIONSFOUND}} </h5>
                </div>
            </div>
        </div>
        <div class="item prescription-detail-header">
            <div class="right reminder-toggle"> <span class="sub-text reminder-text left">{{PRESCRIPTIONCONSTANTS.REMINDERLABEL}}:&nbsp;</span>
                <label class="toggle small">
                    <input type="checkbox" ng-model="prescription.isSetReminder" ng-true-value="'true'" ng-false-value="'false'" ng-click="setUnsetReminederclick()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <p class="font-medium no-margin text-white left" ng-if="prescription.Provider_fname">{{PRESCRIPTIONCONSTANTS.DOCTORLABEL}}:&nbsp;{{prescription.Provider_fname}} {{prescription.Provider_lname}}</p>
            <div class="clearfix"></div>
            <p class="right prescription-status">Status : <span class="clearfix" ng-class="{'status-green-item':prescription.Active==1, 'status-red-item': prescription.Active == -1}"></span></p>
            <p class="font-medium text-white left" ng-if="prescription.Drug">{{PRESCRIPTIONCONSTANTS.DRUGLABEL}}: {{prescription.Drug}}</p>
            <div class="clearfix"></div>
            <p class="right start-date" ng-if="prescription.Start_date">{{PRESCRIPTIONCONSTANTS.STARTDATELABEL}} : {{prescription.Start_date | date:'MMM dd yyyy'}}</p>
            <p class="font-medium text-white left" ng-if="prescription.Dosage">{{PRESCRIPTIONCONSTANTS.DOSAGELABEL}} : {{prescription.Dosage}}</p>
            <div class="clearfix"></div>
            <p class="font-medium text-white" ng-if="prescription.Quantity">{{PRESCRIPTIONCONSTANTS.QUANTITYLABEL}} : {{prescription.Quantity}}</p>
            <div class="clearfix"></div>
            <div ng-if="prescription.Indication">
                <p class="no-margin text-white">{{PRESCRIPTIONCONSTANTS.DISEASELABEL}}:&nbsp;{{prescription.Indication}}</p>
            </div>
        </div>
        <div class="card loaderBg">
            <!--<div class="progressbarloader" style="width: {{prescription.progress}}%;">
                <p class="percent">{{prescription.progress}}%</p>
            </div>-->
            <div class='progress'>
                <div class='progress-bar progress-bar-success progress-bar-striped active' role='progressbar' aria-valuenow='{{Totaltaken}}' aria-valuemin='0' aria-valuemax='100' style='width: {{Totaltaken}}%;'>{{Totaltaken}}&#37;</div>
                <div class='progress-bar progress-bar-danger progress-bar-striped active' role='progressbar' aria-valuenow='{{Totalmissed}}' aria-valuemin='0' aria-valuemax='100' style='width: {{Totalmissed}}%;'>{{Totalmissed}}&#37;</div>
            </div>
        </div>
        <p class="sub-text no-margin padding-LR-5" ng-if="prescription.Note"><strong>{{PRESCRIPTIONCONSTANTS.NOTELABEL}}:</strong>&nbsp;{{prescription.Note}}</p>
        <hr>
        <div class="text-center">
            <p class="no-margin font-medium">{{PRESCRIPTIONCONSTANTS.PRESCRIPTIONSCHEDULE}}({{prescription.Drug}})</p>
        </div>
        <div class="row prescription-date-block top-margin-sm" style="flex-wrap: wrap;">
            <div ng-repeat="obj in prescription.prescriptionDays" class="col-33">
                <div class="col-block">
                    <div class="sub-text text-center dosage">{{obj.prescritionDate | date:'MMM dd yyyy'}}</div>
                    <div class="sub-text text-center dosage">{{obj.drugTime}}</div>
                    <span class="icon ion-plus-circled dosage-info" ng-if="currentDate==obj.prescritionDate" ng-click="dosageInfo(obj)"></span>
                    <span class="icon ion-plus-circled dosage-info text-grey" ng-if="currentDate<obj.prescritionDate"></span>
                    <span class="icon ion-information-circled dosage-info text-grey" ng-if="currentDate>obj.prescritionDate" ng-click="dosagePreviousInfo(obj)"></span>
                    <div class="text-center minus-5" ng-if="currentDate>obj.prescritionDate">
                        <div ng-if="obj.isTaken=='true'" class="checkbox checkbox-balanced small-checkbox checkbox-taken">
                            <input type="checkbox" checked disabled> </div>
                        <div ng-if="obj.isTaken!='true'" class="checkbox checkbox-red small-checkbox">
                            <input type="radio" disabled> </div>
                        <div class="fa-green" ng-if="obj.isTaken=='true'">{{PRESCRIPTIONCONSTANTS.TAKENLABEL}}</div>
                        <div class="fa-red" ng-if="obj.isTaken!='true'">{{PRESCRIPTIONCONSTANTS.MISSEDLABEL}}</div>
                    </div>
                    <div ng-if="currentDate==obj.prescritionDate" class="text-center minus-5" style="width:100%;">
                        <div class="checkbox checkbox-balanced small-checkbox">
                            <input type="checkbox" ng-checked="obj.isTaken=='true'" ng-model="obj.isTaken" ng-true-value="'true'" ng-false-value="'false'" ng-click="checkDaywisePrescription(obj,false)"> </div>
                        <div class="fa-green" ng-if="obj.isTaken=='true'">{{PRESCRIPTIONCONSTANTS.TAKENLABEL}}</div>
                        <div class="fa-red" ng-if="obj.isTaken!='true'">-</div>
                    </div>
                    <div ng-if="currentDate<obj.prescritionDate" class="text-center minus-5" style="width:100%;">
                        <div class="checkbox checkbox-balanced small-checkbox">
                            <input type="radio" disabled> </div>
                        <div class="fa-green">-</div></div> <span ng-if="prescription.Dosage=='daily'">{{PRESCRIPTIONCONSTANTS.DOSELABEL}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>