<!-- <html>
<head> -->
        <ion-view view-title="" align-title="left">
                <ion-nav-buttons side="left">
                        <button ng-click="myGoBack()" class="button button-clear icon ion-ios-arrow-back"></button>
                        <div class="app-logo"><img class="title-image" src="img/ajax-loader.gif" ng-src="{{orgLogoURL?orgLogoURL:defaultLogoURL}}" err-SRC="{{errorLogoURL}}" height="25" /> </div>
                    </ion-nav-buttons>
                    <ion-nav-buttons side="right">
                        <button title="Notifications" class="button button-clear ion-android-notifications notification" ui-sref="app.patientReminder"><span class="badge badge-assertive">{{Notification}}</span></button>
                        <button class="button button-clear ion-android-more-vertical right-menu" ng-click="popover.show($event)"> </button>
                    </ion-nav-buttons>
                <div id="videos">
                        <div id="subscriber"></div>
                        <div id="publisher"></div>
                    </div>
                <ion-content class="has-header-bar chat-section top-27">
    <!-- <title> OpenTok Getting Started </title>
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
 </head>
<body>
    <div id="otEmbedContainer" style="width:800px; height:640px"></div>
    <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=76d7de29-e0fc-4ccd-9e47-84122f2aa158&room=DEFAULT_ROOM"></script>
    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div> 
    <script type="text/javascript" src="/app/modules/tokbok/app.js"></script>
</body>
</html>-->
</ion-content>
<div class="tabs tabs-positive">
        <a class="tab-item"> <i class="icon ion-ios-reverse-camera"></i> </a>
        <a class="tab-item"> <i class="icon icon ion-volume-low"></i> </a>
        <a class="tab-item"> <i class="icon ion-ios-mic-off"></i></a>
    </div>
</ion-view>