<ion-view title="{{CHANGEPASSWORDCONSTANTS.CHANGEPASSWORDTITLE}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear icon ion-navicon left-menu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button title="Notifications" class="button button-clear ion-android-notifications notification" ui-sref="app.patientReminder"><span class="badge badge-assertive">{{Notification}}</span></button>
        <button class="button button-clear ion-android-more-vertical right-menu" ng-click="popover.show($event)"> </button>
    </ion-nav-buttons>
    <ion-content class="bg-image" has-header="true">
        <form class="form-validate top-margin-xl" name="myForm" novalidate>
            <div class="row">
                <div class="col">
                    <div class="list login-padding no-margin">
                        <label class="item item-input item-floating-label login-label changePass-label item-md-label">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="{{inputType}}" id="oldpassword" class="input login-input md-input top-input" name="oldpassword" placeholder="{{CHANGEPASSWORDCONSTANTS.OLDPWDPLACEHOLDER}}" ng-model="$parent.passwordObj.oldpassword" required />
                        <div class="highlight highlight-calm"></div>
                        </label>
                        <label class="item item-input item-floating-label login-label changePass-label item-md-label">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="{{inputType}}" id="newPassword" class="input login-input md-input" placeholder="{{CHANGEPASSWORDCONSTANTS.NEWPWDPLACEHOLDER}}" ng-model="$parent.passwordObj.newPassword" name="newPassword" required pw-check="oldpassword" ng-change="validationInputPwdText($parent.passwordObj.newPassword)" ng-focus="showStrengthMeter = true" ng-blur="showStrengthMeter = false"  >
                        <div class="highlight highlight-calm"></div>
                        </label>
                        <div class="strength-meter" ng-show="showStrengthMeter">
                            <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                        </div>
                        <label class="item item-input item-floating-label login-label changePass-label item-md-label">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="{{inputType}}" class="input login-input input-disable md-input bottom-input" placeholder="{{CHANGEPASSWORDCONSTANTS.CONFIRMPWDPLACEHOLDER}}" ng-model="$parent.passwordObj.confirmPassword" name="confirmPassword" required pw-Confirm="newPassword">
                        <div class="highlight highlight-calm"></div>
                        </label>
                        <div class="form-hint" ng-show="showStrengthMeter"> {{CHANGEPASSWORDCONSTANTS.STRONGPASSWORDHINT}} </div> 
                        <div class="form-error margin-xs"><span>{{errormessage}}</span></div>
                        <div class="row show-pass-padding">
                            <div class="col no-padding">
                                <div class="item item-toggle toggle-small show-pass" ng-model="isShowPassword" ng-change="showPassword(isShowPassword)">
                                    <div><span class="show-pass-label">{{CHANGEPASSWORDCONSTANTS.SHOWPWDLABEL}}</span></div>
                                    <label class="toggle disable-user-behavior toggle-positive show-pass-toggle">
                                    <input type="checkbox" ng-model="isShowPassword" ng-change="showPassword(isShowPassword)">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no-padding">
                        <button title="Change Password" ng-click="changePassword(passwordObj,myForm)" class="button button-full button-positive ink forgot-btn"><i class="icon ion-locked"></i>&nbsp;&nbsp;{{CHANGEPASSWORDCONSTANTS.CHANGEPWDLABEL}}</button>
                        <button title="Cancel" class="button button-full button-stable ink" ng-click="myGoBack()">{{CHANGEPASSWORDCONSTANTS.CANCELLABEL}}</button>
                    </div>
                </div>
            </div>
        </form>
        <!--<div class="extra-large-margin-change padding" ng-show="IsSuccess">
            <div class="row no-padding">
                <div class="col go-to-dashboard">
                    <h5 class="item-text-wrap">{{CHANGEPASSWORDCONSTANTS.PASSWORDCHANGEMESS}} </h5>
                    <a class="button button-clear text-primary" ng-click="logout();"><u>{{CHANGEPASSWORDCONSTANTS.GOTOLOGINLABEL}}</u></a> </div>
            </div>
        </div>-->
    </ion-content>
    <div class="tabs copyright-tab">
        <p><small>&copy; {{APPCONSTANTS.COPYRIGHTYEAR}} <a href="http://compumatrice.com/" target="_blank">{{APPCONSTANTS.COMPANYNAME}}</a> {{APPCONSTANTS.COPYRIGHTMESSAGE}}</small></p>
    </div>
</ion-view>