<ion-view title="{{FORGOTPASSWORDCONSTANTS.FORGETPASSWORDTITLE}}">
    <ion-content class="bg-image" has-header="false" padding="false">
        <div class="forgot-responsive">
            <form class="form-validate extra-large-margin-forgot" name="myForm" ng-hide="IsSuccess" novalidate>
                <ion-list>
                    <div class="row no-padding">
                        <div class="col no-padding">
                            <div class="login-section">
                                <label class="item item-input item-floating-label login-label password-label item-md-label">
                                    <i class="icon ion-ios-email placeholder-icon"></i>
                                    <input type="text" class="input login-input md-input top-input bottom-input" ng-model="username" name="userName" id="userName" placeholder="{{FORGOTPASSWORDCONSTANTS.USERNAMEPLACEHOLDER}}" ng-focus="errorClear()" required/>
                                    <div class="highlight highlight-calm"></div>
                                </label>
                            </div>
                            <div style="text-align:center;color:red;">
                            {{errormessage}}
                            </div>
                            <div class="padding">
                                <button ng-click="sendmail(username,myForm)" class="button button-full button-positive ink forgot-btn">{{FORGOTPASSWORDCONSTANTS.SENDBUTTON}}</button>
                                <button class="button button-full button-stable ink" ng-click="myGoBack()">{{FORGOTPASSWORDCONSTANTS.CANCELBUTTON}}</button>
                            </div>
                            <div class="padding-LR-10" align="center">
                                <p class="no-margin">{{FORGOTPASSWORDCONSTANTS.CONTACTUSTEXT}}</p>
                                <a ng-click="composeEmail()"> &nbsp;{{FORGOTPASSWORDCONSTANTS.SUPPORTEMAIL}}</a> </div>
                        </div>
                    </div>
                </ion-list>
            </form>
            <div class="extra-large-margin-forgot" ng-show="IsSuccess">
                <div class="row alert-padding">
                    <div class="col go-to-login">
                        <h5 class="item-text-wrap">{{FORGOTPASSWORDCONSTANTS.FORGETPASSWORDSUCCESS}}</h5>
                        <a class="button button-clear text-primary" ui-sref="login">{{FORGOTPASSWORDCONSTANTS.GOTOLOGIN}</a> </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs copyright-tab">
       <p><small>&copy; {{FORGOTPASSWORDCONSTANTS.YEARLABEL}} <a href="http://patientconnect360.com/" target="_blank">{{FORGOTPASSWORDCONSTANTS.APPNAMELABEL}}</a> {{FORGOTPASSWORDCONSTANTS.ALLRIGHTSRESERVEDLABEL}}</small></p>
    </div>
</ion-view>